@import './base/_settings.scss';
@import './base/_base.scss';

.container {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
  }

.container2 {
    display: flex;

}
.header {
    background-color: rgb(12, 12, 12);
    margin-bottom: 10px;
    padding: 60px 0;
    color: white;
}

.header h1{
    color:whitesmoke;
    margin: 0;
}
