html {
    font-size: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(141, 135, 127);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}